.expedu-section {
  max-width: 746px;
  margin: 0 auto;
  padding: 0 20px 40px;
}

.experience-section,
.education-section {
  margin-bottom: 60px;
}

.education-section {
  margin-top: 80px;
}

.expedu-heading {
  font-weight: 700;
  margin-bottom: 2rem;
  font-weight: 500;
}

.exp-item {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 40px;
}

.exp-logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  flex-shrink: 0;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.exp-details {
  flex: 1;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.exp-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.exp-info {
  text-align: left;
}

.exp-role {
  margin-right: 1.5rem;
  font-weight: 500;
}

.exp-company {
  margin: 0;
}

.exp-meta {
  text-align: right;
}

.exp-date {
  margin: 0;
}

.exp-location {
  margin: 0;
  opacity: 0.7;
}

@media (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }
  .exp-item {
    gap: 30px;
  }

  .exp-logo {
    width: 40px;
  }

  .exp-details {
    min-height: 80px;
  }

  .exp-main {
    flex-direction: column;
    gap: 0rem;
  }

  .exp-meta {
    text-align: left;
  }

  .exp-date {
    opacity: 0.7;
  }
} 