#root {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  color: #000;
}

::selection {
  background: rgba(118, 180, 255, 0.3);
  color: inherit;
}

::-moz-selection {
  background: rgba(118, 180, 255, 0.3);
  color: inherit;
}

h1 {
  font-size: 0.95rem;
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: left;
}

h2 {
  font-size: 0.95rem;
  margin: 2rem 0 0.75rem;
  font-weight: 500;
  text-align: left;
}

p,
li,
small {
  font-size: 0.95rem;
  line-height: 1.7;
}

.container {
  max-width: 640px;
  margin: clamp(0rem, 5vw, 10rem) auto 0;
  padding: 1rem;
}

.container ul {
  text-align: left;
  list-style: none;
  padding-left: 0;
}

.yale-project {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 8px;
  margin-top: 8px;
}

.yale-project img {
  width: 80px;
  height: auto;
  margin-right: 12px;
}

h1,
h2 {
  text-align: left;
}

.container p,
.container li,
.container small {
  text-align: left;
  margin-left: 1rem;
}

.container li {
  margin-bottom: 1rem;
}

.footer {
  margin-top: 2rem;
  text-align: left;
  font-size: 0.95rem;
}

.footer a {
  margin-right: 1rem;
}
