/* reset previously heavy styles */
:root {
  font-family: "Chivo Mono", monospace;
}

body {
  margin: 0;
  font-weight: 300;
  line-height: 1.5;
  color: #000;
  overflow-x: hidden;
}

a {
  color: #0000EE;
}

ul {
  padding-left: 1.5rem;
}

* {
  box-sizing: border-box;
}
