@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: #0a0a0a;
  color: #fff;
  font-family: "SF Pro Display Light", sans-serif;
  letter-spacing: 0.03em;
}

::selection {
  background-color: #fff;
  color: #0a0a0a;
}

/** https://en.bestfonts.pro/font/san-francisco-pro **/

@font-face {
  font-family: "SF Pro Display Light";
  font-style: normal;
  font-weight: normal;
  src: local("SF Pro Display Light"), url("./fonts/SFProDisplay-Light.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SF Pro Display Regular"), url("./fonts/SFProDisplay-Regular.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF Pro Display Medium"), url("./fonts/SFProDisplay-Medium.woff") format("woff");
}
