/* reset previously heavy styles */
:root {
  font-family: Verdana, sans-serif;
}

body {
  margin: 0;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  color: #000;
}

a {
  color: #0000EE;
}

ul {
  padding-left: 1.5rem;
}
