.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to bottom, #f5ecd2 0%, #c2e3f7 45%, #c2e3f7 100%);
  overflow: hidden;
  z-index: -1;
}

.background::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: 
    radial-gradient(white 0.5px, transparent 0),
    radial-gradient(white 0.5px, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  opacity: 0.05;
}

/* Blobs */
.blob-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:0;
}

.blob {
  position: absolute;
  border-radius: 150px;
  filter: blur(100px);
}

.orange {
  background-color: rgba(255, 179, 122, 0.6);
  height: 550px;
  width: 550px;
  top: 10%;
  left: 5%;
  animation: blobOne 4s infinite ease-in-out;
  will-change: transform;
}

.turquoise {
  background-color: rgba(100, 217, 208, 0.6);
  height: 500px;
  width: 600px;
  top: 25%;
  right: 5%;
  animation: blobTwo 5s infinite ease-in-out;
  will-change: transform;
}

.yellow {
  background-color: rgba(255, 215, 140, 0.6);
  height: 450px;
  width: 450px;
  bottom: 5%;
  left: 30%;
  animation: blobThree 6s infinite ease-in-out;
  will-change: transform;
}

@keyframes blobOne {
  0% {transform: translate(0, 0) scale(1);}
  33% {transform: translate(15vh, 15vh) scale(0.9);}
  66% {transform: translate(-15vh, 0vh) scale(1.5);}
  100% {transform: translate(0, 0) scale(1);}
}

@keyframes blobTwo {
  0% {transform: translate(0, 0) scale(1);}
  33% {transform: translate(-10vh, 0vh) scale(0.8);}
  66% {transform: translate(15vh, -16vh) scale(1.4);}
  100% {transform: translate(0, 0) scale(1);}
}

@keyframes blobThree {
  0% {transform: translate(0, 0) scale(1);}
  33% {transform: translate(16vh, -11vh) scale(1.5);}
  66% {transform: translate(-16vh, 13vh) scale(1.2);}
  100% {transform: translate(0, 0) scale(1);}
} 

.noise-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Ensure it doesn't block interactions */
  opacity: 0.5;
  z-index: 10;
  filter: url(#noiseFilter);
  background-color: rgba(255, 255, 255, 0.05);
}